@import "tailwindcss";

/* Enable hover effects for touch devices */
@custom-variant hover (&:hover);

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
		/* --background: #0a0a0a;
    --foreground: #ededed; */
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Geist;
}

@keyframes bounceOrig {
	0%,
	100% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(25%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.hover\:bounceOrig:hover {
	animation: bounceOrig 1s infinite;
}

@keyframes pulse-light {
	0%,
	100% {
		background-color: white;
	}
	50% {
		background-color: rgba(219, 234, 254, 0.4); /* light blue-100 */
	}
}

.animate-pulse-light {
	animation: pulse-light 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
